/*Light blue:0B80C3
Dark blue: 283747
Snow white: FCF7F8*/

@font-face {
  font-family: OpenSans;
  src: url(assets/OpenSans-Regular.ttf url);
}

body{
  background-color: #283747 ;
  color: #FCF7F8;
  font-family: OpenSans, sans-serif;
}

.background_dark{
  background-color: #283747;
}

.loadIn {
  animation: fadeIn 0.5s linear;
}

.center{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  animation: fadein 3s;
}

.header{
  height: 25vh;
  width: 100%;
  display: inline-block;
  margin-top: 2%;
  margin-bottom: 4%;
}

.logoImage{
  display: inline-block;
  float:left;
  width: 25%;
  margin-left: 12.5%;
  margin-right: 12.5%  ;
}

div.menuIcon{
  content: url("assets/menu_icon.svg");
  width: 3%;
  object-fit: fill;
  margin-top: 1%;
  margin-left: 1%;
  transition: 0.5s;
  position: fixed;
}


/* The side navigation menu */
.sideNav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #FCF7F8;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sideNav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  transition: 0.3s;
  color: #283747;
  border-bottom: 1px solid rgba(0,0,0,.6);
  border-top: 1px solid rgba(255,255,255,.2);
}

.sidenav a:hover {
  color: #0B80C3;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: fixed;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#button{
  display: inline-block;
  flex:1;
  border: none;
  background-color: #0B80C3;
  height: 40vh;
  border-radius: 3%;
  color: #FCF7F8;
  transition: 0.2s;
  font-size: 30px;
}

#button:hover{
  background-color: #FCF7F8;
  color: #0B80C3;
}

#button:focus{
  outline:0;
}

.binder{

}

.docs{
  margin: 0 5%;
}

.swan{

}

div.container{
  width: 90%;
  margin-left: 5%;
  margin-top:0%;
  display:flex;
}
